<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - aspnetcore_Vue_starter</title>

    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/dist/site.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="~/assets/css/files/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/files/font-awesome.min.css">
    <!--font style-->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/files/line-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/files/morris.css">
    <link rel="stylesheet" href="~/assets/css/files/style.css">

</head>

<body>
    @RenderBody()

    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>

</html>
<script type="text/javascript" src="~/assets/js/files/jquery-3.5.0.min.js"></script>
<script type="text/javascript" src="~/assets/js/files/popper.min.js"></script>
<script type="text/javascript" src="~/assets/js/files/bootstrap.min.js"></script>
<script type="text/javascript" src="~/assets/js/files/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="~/assets/js/files/morris.js"></script>
<script type="text/javascript" src="~/assets/js/files/raphael.min.js"></script>
<script type="text/javascript" src="~/assets/js/files/chart.js"></script>
<script type="text/javascript" src="~/assets/js/files/linebar.min.js"></script>
<script type="text/javascript" src="~/assets/js/files/piechart.js"></script>
<script type="text/javascript" src="~/assets/js/files/apex.min.js"></script>
<script type="text/javascript" src="~/assets/js/files/app.js"></script>
